<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <title>Admin</title>
</head>
<body>


<!--NAVBAR -->
<nav class="navbar navbar-expand-xxl navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:if="${user != null}" th:object="${user}"
       th:text="${user.getEmail()}">Navbar</a>
    <a class="navbar-brand">with roles:</a>
    <a class="navbar-brand" th:if="${user != null}" th:object="${user}" th:text="${user.getRolesString()}">Roles</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
            aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarDark">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0"></ul>
      <form class="d-flex" th:action="@{/logout}" th:method="POST">
        <button class="btn btn-outline-light">Logout</button>
      </form>
    </div>
  </div>
</nav>


<div class="row">
  <!--        ROLE BUTTONS-->
  <div class="col-sm-2">
    <br>
    <div class="d-grid gap-2">

      <button type="button" class="btn btn-outline-primary" data-bs-toggle="button"
              onclick="location.href='/admin'" autocomplete="off">Admin
      </button>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="button"
              onclick="location.href='/user'" autocomplete="off">User
      </button>

    </div>
  </div>

  <div class="col-sm-9">
    <div class="p-3 mb-2 bg-light text-dark">
      <div class="row">
        <div class="col-8 col-lg">

          <h1>Admin panel</h1>


          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab-users-list" data-bs-toggle="tab"
                      data-bs-target="#tab-users-list-content" type="button" role="tab"
                      aria-controls="tab-users-list-content"
                      th:classappend="${hasErrors} ? '' : 'active'"
                      th:attr="aria-selected=${hasErrors} ? 'false' : 'true'">
                Users table
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab-new-user" data-bs-toggle="tab"
                      data-bs-target="#tab-new-user-content" type="button" role="tab"
                      aria-controls="tab-new-user-content"
                      th:classappend="${hasErrors} ? 'active'"
                      th:attr="aria-selected=${hasErrors} ? 'true' : 'false'">
                New user
              </button>
            </li>
          </ul>

          <div class="tab-content">

            <div class="tab-pane fade" id="tab-users-list-content" role="tabpanel"
                 aria-labelledby="tab-users-list" th:classappend="${hasErrors} ? '' : 'show active'">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">All users</h5>
                </div>
                <div class="card-body">
                  <table class="table table-hover table-striped" id="userTable">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Email</th>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Roles</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="tab-new-user-content" role="tabpanel"
                 aria-labelledby="tab-new-user">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Add new user</h5>
                </div>
                <div class="card-body">
                  <div class="container text-center col-5">
                    <form th:action="@{/admin/users}" method="POST" id="add-new-user-form">
                      <label class="form-label fw-bold" for="new-user-email">Email</label>
                      <input class="form-control" type="text" id="new-user-email" required>
                      </br>

                      <label class="form-label fw-bold"
                             for="new-user-password">Password</label>
                      <input class="form-control" type="password" id="new-user-password"  required>
                      </br>

                      <label class="form-label fw-bold" for="new-user-firstName">Name</label>
                      <input class="form-control" type="text" id="new-user-firstName" required>
                      </br>

                      <label class="form-label fw-bold" for="new-user-age">Age</label>
                      <input class="form-control" type="number" id="new-user-age" required>
                      </br>

                      <label class="form-label fw-bold" for="role-select">Role</label>
                      <select class="form-select" id="role-select" multiple>
                        <option th:each="role : ${listRoles}"
                                th:text="${role.name.split('_')[1]}"
                                th:value="${role.id}">
                      </select>
                      </br>

                      <button class="btn btn-success" type="submit">Add new user
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit-user-modal" tabindex="-1" aria-labelledby="edit-user-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="edit-user-label">Edit user</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <form th:action="@{/admin/users/edit}" th:method="patch" id="edit-user-form">
              <input id="edited-user-id" name="id"  hidden="hidden">

              <label class="form-label fw-bold" for="edited-user-email">Email</label>
              <input class="form-control" type="text" id="edited-user-email" required>
              </br>

              <label class="form-label fw-bold" for="edited-user-password">Password</label>
              <input class="form-control" type="text" id="edited-user-password" th:name="password" placeholder="Enter new password">
              </br>

              <label class="form-label fw-bold" for="edited-user-name">Name</label>
              <input class="form-control" type="text" id="edited-user-name" required>
              </br>

              <label class="form-label fw-bold" for="edited-user-age">Age</label>
              <input class="form-control" type="text" id="edited-user-age" required>
              </br>

              <label class="form-label fw-bold" for="role-select">Role</label>
              <select class="form-select" id="role-select-edit-user" multiple>
                <option th:each="role : ${listRoles}"
                        th:text="${role.name.split('_')[1]}"
                        th:value="${role.id}">
              </select>
              </br>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="delete-user-modal" tabindex="-1" aria-labelledby="delete-user-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="delete-user-label">Delete user</h1>
            <button type="button" id="close-delete-button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <form th:action="@{/admin/users/delete}" th:method="delete" id="delete-user-form">
              <label class="form-label fw-bold" for="delete-user-id">ID</label>
              <input class="form-control bg-light" id="delete-user-id" name="id">

              <label class="form-label fw-bold" for="edited-user-email">Email</label>
              <input class="form-control bg-light" type="text" id="delete-user-email">
              </br>

              <label class="form-label fw-bold" for="edited-user-name">Name</label>
              <input class="form-control bg-light" type="text" id="delete-user-name">
              </br>

              <label class="form-label fw-bold" for="edited-user-age">Age</label>
              <input class="form-control bg-light" type="text" id="delete-user-age">
              </br>

              <label class="form-label fw-bold" for="role-select">Roles</label>
              <select class="form-select" id="role-select-delete-user" multiple disabled>
                <option th:each="role : ${listRoles}"
                        th:text="${role.name.split('_')[1]}"
                        th:value="${role.id}">
              </select>
              </br>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
<script src="/js/script.js"></script>

</body>
</html>